BODY {
	FONT-SIZE: 12px
}
A {
	COLOR: #2f5fa1; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
TEXTAREA {
	BORDER-BOTTOM: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; BORDER-TOP: #a6cbe7 1px solid; BORDER-RIGHT: #a6cbe7 1px solid
}
.gray {
	COLOR: #818a89
}
.btn {
	BORDER-BOTTOM: #2c59aa 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2c59aa 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #2c59aa 1px solid; CURSOR: hand; BORDER-RIGHT: #2c59aa 1px solid; PADDING-TOP: 2px
}
.input {
	BORDER-BOTTOM: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; BORDER-TOP: #a6cbe7 1px solid; BORDER-RIGHT: #a6cbe7 1px solid; PADDING-TOP: 2px
}
.t {
	BORDER-BOTTOM: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; MARGIN: 0px auto 8px; BORDER-TOP: #a6cbe7 1px solid; BORDER-RIGHT: #a6cbe7 1px solid
}
.t TABLE {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; MARGIN: 0px auto; WIDTH: 99.98%; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.h {
	BORDER-BOTTOM: #dbecf4 4px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #e0f0f9; COLOR: #004c7d; PADDING-TOP: 5px
}
.tr1 TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; BORDER-RIGHT: #d4eff7 1px solid; PADDING-TOP: 5px
}
.tr1 TD {
	BORDER-BOTTOM: #d4eff7 1px solid; BORDER-LEFT: #d4eff7 0px solid; BORDER-TOP: #d4eff7 1px solid; BORDER-RIGHT: #d4eff7 1px solid
}
.tr2 {
	BACKGROUND: #f3f8ef; COLOR: #659b28
}
.tr2 TD {
	BORDER-BOTTOM: #daebcd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP: #a6cbe7 1px solid; PADDING-TOP: 0px
}
.tr2 TH {
	BORDER-BOTTOM: #daebcd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP: #a6cbe7 1px solid; PADDING-TOP: 0px
}
.tr2 A {
	MARGIN: 2px; COLOR: #659b28
}
.tr3 TD {
	BORDER-BOTTOM: #d4eff7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-RIGHT: #d4eff7 1px solid; PADDING-TOP: 5px
}
.tr3 TH {
	BORDER-BOTTOM: #d4eff7 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-WEIGHT: normal; BORDER-RIGHT: #d4eff7 1px solid; PADDING-TOP: 5px
}
.tipad {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #d4eff7 1px solid; PADDING-TOP: 5px
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
